<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magedia\WhiteList\Api\Data\WhiteListInterface" type="Magedia\WhiteList\Model\WhiteList"/>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="magedia_whitelist_renderaddtocartbutton" type="Magedia\WhiteList\Plugin\RenderAddToCartButton" />
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magedia_whitelist_whitelist_listing_data_source" xsi:type="string">MagediaWhiteListWhiteListCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MagediaWhiteListWhiteListCollection" type="Magedia\WhiteList\Ui\DataProvider\WhiteList\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">white_list</argument>
            <argument name="resourceModel" xsi:type="string">Magedia\WhiteList\Model\ResourceModel\WhiteList</argument>
        </arguments>
    </virtualType>
</config>
